*.[Rr]e[Ss]harper*
*.csproj.user
*.sln.cache
*.svclog

.DS_Store
Thumbs.db

[Bb]uild
[Dd]ebug/

[Oo]bj/
[Rr]elease/
_[Rr]e[Ss]harper.*/
artifacts/

*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr

obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
test-results/
*.userprefs
packages/
bin/
*.swp
